<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <style>
        body{
            background-color: #f4f7fb;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
        }
        h1{
            text-align: center;
             font-family: Arial, Helvetica, sans-serif;
             color: #c62828;
        }
    </style>
    <link rel="stylesheet" href="list.css">
</head>
<body>
    <% for(let i = 0; i < allDonors.length; i++) { %>
            <div class="card">
                <h2><%= allDonors[i].name %></h2>
                <p><strong>Email:</strong> <%= allDonors[i].email %></p>
                <p><strong>Blood Group:</strong> <%= allDonors[i].bloodGroup %></p>
                <p><strong>Time:</strong> <%= allDonors[i].date.toString().split(" ")[4] %></p>
                <p><strong>Date:</strong><%= allDonors[i].date.toString().split(" ").slice(1,4).join(" ") %></p>
            </div><br>
            
        <% } %>
</body>
</html>