<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Donors</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="list.css">
</head>
<body>

    <h1 class="title">Donor Record</h1>
    <form action="/back">
        <button>Back</button>
    </form>
    <div class="create">
        <form action="/create">
            <button>Add Donor</button>
        </form>
    </div>
    <div class="container">
        <% for(let i = 0; i < allDonors.length; i++) { %>
            <div class="card">
                <h2><%= allDonors[i].name %></h2>
                <p><strong>Email:</strong> <%= allDonors[i].email %></p>
                <p><strong>Blood Group:</strong> <%= allDonors[i].bloodGroup %></p>
                <p><strong>Time:</strong> <%= allDonors[i].date.toString().split(" ")[4] %></p>
                <p><strong>Date:</strong><%= allDonors[i].date.toString().split(" ").slice(1,4).join(" ") %></p>
                <form action="/delete/<%= allDonors[i]._id %>/?_method=DELETE" method="post">
                    <button class="delete"><i class="fas fa-trash-alt"></i></button>
                </form>
            </div>
        <% } %>
    </div>

</body>
</html>
