<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/user/new" method="get">
    <button>Add a user</button>
</form>



    <table border="1">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Username</th>
        </tr>
        <% for(let i=0;i<user.length;i++){ %>
        <tr>
            <td><%= user[i].id %></td>
            <td><%= user[i].email %></td>
            <td><%= user[i].username %></td>
            <td>
                <form action="/user/<%= user[i].id %>/edit" method="get">
                <button>Edit username</button>
                </form>

                <form action="/user/<%= user[i].id %>?_method=DELETE" method="post">
                    <button>Delete</button>
                </form>
            </td>


        </tr>
        <% } %>
    </table>
</body>
</html>