<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        h1 {
            text-align: center;
        }
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            padding: 8px 12px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>The Student List</h1>
    <table border="1">
        <tr>
            <th>USN</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <% for(let i=0;i<data.length;i++){  %>
        <tr>
            <td><%= data[i].usn %></td>
            <td><%= data[i].name %></td>
            <td><%= data[i].email %></td>
            <td>
                <form action="/home/<%= data[i].usn %>/<%= data[i].name %>" method="GET">
                    <button>View Score</button>
                </form>
            </td>
        </tr>
        <% } %>
        
    </table>

    <form action="/add" method="get">
        <button>Add Student</button>
    </form>

    
</body>
</html>