<%- include("includes/head.ejs") %>
<link rel="stylesheet" href="/style.css">
<body>
    <h1>This page belongs to <%= data.name%></h1>
    <button>Click me</button>
    <h2>This user has followers of <%= data.followers%></h2>
    <h2>Posts</h2>
    <% for(i=0;i<data.posts.length;i++){ %>
        <img src="<%= data.posts[i].image%>" alt="">
        <h3>Likes: <%= data.posts[i].likes %></h3>
        <h3>Comments: <%= data.posts[i].comments %></h3>
        <hr>
    <% } %>

<script src="/app.js"></script>
<%- include("footer/foot.ejs") %>
</body>

